


.BackButton {
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 5px;
    
}


.BackButton:hover {
    background-color: lightgreen;
    color: black;
}


.ArticleParagraph {
    margin: auto;
    text-align: left;
    width: 80%;
}


.SourceText {
    text-align: center;
}