
.SearchBox {
  padding: 10px;
}


.SearchButton {
  background-color: lightblue;
  padding: 10px;
  border-radius: 10%;
}

.SearchButton:hover {
  background-color: cornflowerblue;
}


.PagedListButtons {
  background-color: darkgreen;
  padding: 5px;
  color: white;
  height: 4vh;
}

.PagedListButtons:hover {
  background-color: greenyellow;
  color: black;
  
}


.HelpDiv {
  height: 20vh;
  
  
}

.HelpButton {
  background-color: blue;
  color: white;
  border-radius: 50%;
}

.HelpButton:hover {
  background-color: lightblue;
  color: black;
}

.ViewImageButton {
  width: 100%;
  height: 100%;
  padding: 5px;
  color: white;
  background-color: darkgreen;
  cursor: 'pointer';
}


.ViewImageButton:hover {
  background-color: greenyellow;
  color: black;
}


table, th, td {
  margin: auto;
  padding: 5px;
  border-bottom: 1px;
  border-collapse: collapse;
  
}

table {
  width: 100%;
}

th {
  color: black;
  background-color: lightgreen;
  
}

td {
  border-right: dotted 1px;
  border-left: dotted 1px;
  border-bottom: double 2px;
  max-width: 15vw;
}


tr:nth-child(even) {
  background-color: #f2f2f2;
}



.ListPageDiv {
  display: flex;
  justify-content: center;
}

.MobileHelpButtonDiv {
  display: none;
}


/* 730px is the manually determined screen width at which the table becomes unwieldly */
@media only screen and (max-width: 730px) {


  .HelpDiv {
    height: 25vh;
    
    
  }

  .MobileHelpButtonDiv {
    
    display: grid;
    grid-template-columns: 3vw 3vw 3vw 3vw;
    column-gap: 20vw;
  }

  .MobileHelpButton {
    /* these will mean they can't select the text. This prevents the mobile copy/paste/text selection and options
    from poping up and distracting from the help message */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    width: 23vw;
    height: 10vh;
    color: white;
    background-color: darkblue;
  }

  table, thead, tbody, th, td, tr { 
		display: block; 
	}

  /* we don't need them, but we should keep them for accessability */
  thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}


  td { 
		
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}


  td:before { 
		
		position: absolute;
		background-color: lightgreen;
		top: 6px;
		left: 6px;
		width: 45%; 
		
		
	}
    


  td:nth-of-type(1):before { content: "Memorial ID"; }
	td:nth-of-type(2):before { content: "Dedicated To"; }
	td:nth-of-type(3):before { content: "Dedicated By"; }
	td:nth-of-type(4):before { content: "Date Added"; }
	td:nth-of-type(5):before { content: "Approximate Location"; }
	td:nth-of-type(6):before { content: "Side of Trail"; }
	td:nth-of-type(7):before { content: "Additional Description"; }
	td:nth-of-type(8):before { content: "Memorial Image"; }

  
}

