


.StoryLink {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.4em;
}

.StoryLink:hover {
    text-decoration: underline blue;
    font-size: 1.5em;
}



.root {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 10px; /* height of your footer */
}


